@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

header {
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
}

header>div {
    width: var(--size);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

header>div>h1 {}

header>div>h1>a {
    color: var(--point-color);
}

header>div>nav {}

header>div>nav>a {
    color: var(--white-color);
    padding: 0 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.spot {
    height: 100vh;
    background: url('../imgs/header.jpg') center / 400% no-repeat;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: spot 5s forwards;
}

@keyframes spot {
    100% {
        background-size: 150%;
    }
}

.spot>span {
    font-size: 2.3rem;
    font-family: 'Roboto Slab', serif;
}

.spot>p {
    font-size: 4.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.spot>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: var(--point-color);
    border-radius: 8px;
    display: inline-block;
    padding: 20px 40px;
    margin-top: 30px;
}

.service {
    margin: 96px auto;
    width: var(--size);
    text-align: center;

}

.service > h2 {
    font-family: 'Montserrat', sans-serif;
}

.service > p {
    font-family: 'Roboto Slab', serif;
}

.service > div {
    display: flex;
    margin: 64px 0;
    justify-content: space-between;
}

.service > div > article {
    width: 30%;
    text-align: center;
}
.service > div > article::before {
    content: 'home';
    font-family: material symbols outlined;
    background-color: var(--point-color);
    width: 128px;
    height: 128px;
    border-radius: 100%;
    color: var(--white-color); 
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 16px;
}
.service > div > article::before:nth-of-type(2) {
    content: 'menu';
}
.service > div > article::before:nth-of-type(3) {
    content: 'close';
}
.service > div > article > h3 {
    font-family: 'Montserrat', sans-serif;
}
.service > div > article > p {
    margin: 16px 0;
    font-family: 'Roboto Slab', serif;
}